body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.profile {
  display: inline-block;
  width: 300px;
  height: auto;
  border: 2px solid blue;
  border-radius: 1em;
  padding: 10px;
  margin: 5px;
  background: lightblue;
  text-align: center;
}

.profile-display {
  display: inline-block;
  width: auto;
  height: auto;
  border: 2px solid grey;
  border-radius: 1em;
  padding: 10px;
  margin: 5px;
  background: lightgray;
  text-align: center;
}

.profile-image {
  height: 200px;
  width: 300px;
}
.member-pic {
  height: auto;
  width: 300px
}

.registration {
  text-align: center;
  width: 400px;
  height: 400px;
  border: 5px solid red;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  background: yellow;
}

.slide {
  width: 700px;
  height: 350px;
  border: 5px solid gray;
  padding: 10px;
  margin: 5px;
  background: lightgray;

}

.slide-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

.filter {
  text-align: center;
}

ul {
  font-size: 14px;
}

.navbar {
  display: inline-block;
  width: 110px;
  padding: 10px;
  margin: 0 6px 6px;
  background: blue;
  color: white
}

/* .form-logos {
  display: inline-block;
  padding: 20px
}
.form-logos img {
  height: 100px;
  width: 100px
} */

.home-navlink {
  text-align: center;
  width: 800px;
  height: 90px;
  border: 20px solid red;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  background: yellow;
  font-size: 20px;
}

.title {
  color: darkslategrey
}

.home-page {
  background: whitesmoke;
  text-align: center;
}
